<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
  <header>
    <div class="flex">
      <div>user/author ID</div>
      <a>humberger menu</a>
    </div>   
  </header>
  <section class="grid grid-cols-4">
    <main class="col-span-3">
      <P>
        where written materials appear.
      </P>
      <%- body %>
    </main>
    <aside class="col-span-1">
      list of previous and relatable works.
    </aside>
  </section>
  <footer>

  </footer>

</body>
</html>